/************************************************************/
/******************** PROTOTYPE CANVAS **********************/
/************************************************************/
path,
line {
  shape-rendering: crispEdges;
}
body{
  font-family: "Avenir", "Lato";
}


canvas {
  position: absolute;
top: 30px;
    left: 9px;
}

svg {
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

circle {
  stroke-width: 4px;
  stroke: #fdbf11;
  fill: #fdbf11;
}

.hidden {
  display: none;
}


#controls{
  display: block;
}
.controlContainer{
  display: inline-block;
  margin-right: 40px;
  margin-top: 20px;
}

div.tempHighlight{
  background: #fdbf11;
}

#revdisp{
  font-weight: bold;
  position: fixed;
    top: 10px;
    left: 796px;
}
#incdisp{
  font-weight: bold;
  position: fixed;
    top: 40px;
    left: 796px;
}
