
#isMobile, #isPhone, #isSmallPhone, #isShort, #sectionIndex, #isDesk1, #isDesk2{
    display: none;
    pointer-events: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}
@media(max-width:1240px){
    #isDesk1{
        display: block;
    }
}
@media (max-width: 1200px){
    .container{
       margin-left: 10px;
    }
}
@media (max-width: 1170px){
    .headerimage{
        height: 440px !important;
    }
    .container{
        margin-left: auto;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #isMobile{
        display: block;
    }
    #vis.posFixed{
      margin-left: 0px;
    }
    #topText{
        font-size: 18px;
    }
    #extra-space {
        height: 680px;
        z-index: -1;
    }
    #sections{
        display: inherit;
        width: 400px;
        margin: 0 auto;
        pointer-events: none;
    }
    .step {
        margin-bottom: 1000px;
        opacity: 1;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: rgb(136, 136, 136) 4px 4px 16px;
        -webkit-box-shadow: rgb(136, 136, 136) 4px 4px 16px;
        -moz-box-shadow: rgb(136, 136, 136) 4px 4px 16px;
        padding: 30px;
        z-index: 2;
    }
    .penultimateStep{
      margin-bottom: 600px !important;
    }
    .step.lastStep{
        margin-bottom: 0px;
        opacity: 1;
        width: 500px;
        padding: 20px;
        background: #f5f5f5;
        pointer-events: visible;
        z-index: 3;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        /*margin-left: calc(50% - 490px);*/
    }
    #mobileExploreBg{
        display: block;
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        background: #f5f5f5;
/*        box-shadow: rgb(136, 136, 136) 4px 4px 16px;
        -webkit-box-shadow: rgb(136, 136, 136) 4px 4px 16px;
        -moz-box-shadow: rgb(136, 136, 136) 4px 4px 16px;
*/
        height: calc(100% + 200px);
        /*margin-left: calc(-100% - 600px)*/
    }
    #hideExplore{
        display: inline-block;
        float: right;
        top: -11px;
        right: -9px;
        padding: 10px;
        color: white;
        cursor: pointer;
        position: relative;
    }
    #hideExplore img{
        width: 19px;
    }
    #showExplore{
        display: none;
        position: fixed;
        bottom: 9px;
        left: calc(50% - 94px);
        z-index: 2;
        text-transform: uppercase;
        border: 1px solid #bcbec0;
        padding: 5px 8px;
        color: #ffffff !important;
        background: #bcbec0;
        opacity: .8;
        border-radius: 3px;
        cursor: pointer;
    }
    #showExplore:hover{
        background: #008bb0;
        border: 1px solid #008bb0;
    }
    #showExplore span{
        display: inline-block;
    }
    .rangeLabel{
        z-index: 1;
        pointer-events: none;
    }
    .controlContainer svg{
        z-index: 2;
    }
    .axis.tooltip{
        left: 40px;
    }
}
@media (max-width: 1100px) {
  .wrapper {width:100%; padding-top:100px;}
  .content {width:auto; padding:0px 30px}
  .container {width:auto; padding:0px 30px; margin-bottom: 40px;}
  ul {margin-left: 15px;}
  li {padding-left:0px;}
    #left{ width:100%;}
    #right{ width:100%; margin-top:30px;}
}
@media (max-width: 930px){
    .headerimage {
       height: 350px !important;
    }
    #topTitle {
        font-size: 25px;
    }
}
@media (max-width: 768px){
    #isPhone{
       display: block;
    }
    .container{
        padding: 0px 0px;
    }
    #catLabels {
        left: 20px;
        top: -22px
    }
    .catLabel{
        display: block;
        font-size: 14px;
    }
    .catName.income {
        margin-right: 0px;
    }
    .step {
        margin-bottom: 1700px;
    }
    .step.lastStep, #mobileExploreBg{
        width: calc(100% + 20px)
    }
    .y.axisLabel{
        left: -104px;
    }
    #legendBg {
        fill: rgba(255,255,255,1);
        stroke: #bcbec0;
        stroke-width: 2px;
    }
    #phoneLegendButton{
        fill: #bcbec0;
        stroke: none;
    }
    #phoneLegendText{
        fill: #fff;
        font-family: "Avenir LT W01_65 Medium1475532","Avenir";
        font-size: 12px;
    }
}
@media (max-width: 600px) {
   .wrapper {padding-top:80px;} 
   .headerimage{ height:250px;}
    h1{font-size: 45px;padding-top: 100px;}
    .overhalf{width:100%;}
}
@media (max-width: 500px){
    #isSmallPhone{
       display: block;
    }
    .controlTitle{
        font-size: 14px;
    }
    .headerimage {
        height: 180px !important;
        top: 20px;
    }
    #topText{
        margin-top: -90px;
        padding: 20px;
    }
    #sections{
        width: 300px;
        pointer-events: none;
    }
    .footerButton.researchButton {
        display: block;
        float: left;
        clear: both;
        margin-top: 10px;
        margin-left: 0px !important;
    }
}



@media (max-height: 800px){
    #isShort{
        display: block;
    }
    #vis.posRelBottom{
        bottom: 300px;
    }
    .y.axisLabel {
        top: calc(50% - 29px);
    }
    .axis.tooltip{
        left: 40px;
    }
}




















